<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>

    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap"
      rel="stylesheet"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body onload="nxt()">
    <!-- Include navbar -->
    <%- include('../components/navbar') %>
   <!--  <form class="form-inline my-2 my-lg-0" action="/Search/search/dsearch" method="get">    
      <input class="form-control mr-sm-2" type="text" name="dsearch" placeholder="Search">    
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
    </form> -->   
    
    <!-- <form action="/Search/search/" method="GET">
      <input type="text" name="title" placeholder="Search...">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
    </form> -->

    <section class="box">
      <section class="slider" id="slide">
        
      </section>
      <button id="prew" onclick="prew()"> < </button>
      <button id="nxt" onclick="nxt()"> > </button>
  
    </section>
    <section class="information">
      <% var i=0; %>
      <% posts.forEach(post => { %>
        <% if(i < 4) { %>
        <div> 
          <section><img height="100%" width="100%" src="/static/images/<%= post.image %>" alt="" /></section>
          <h1><%= post.title %></h1>
          <h2>Author : <%= post.user.name %></h2>
          
          <i class="fa fa-thumbs-o-up"> <%= post.likes %></i>
          <center><a class="button" href="/posts/blog/single/<%= post.id %>">Readmore</a></center> 
        </div>
        <% i++ %>
          
      <% } %>

      <% }); %>

      <a href="/auth/All_Blogs" > Load more ..</a>

    </section> 

    <%- include('../components/footer') %>

    <!-- CUSTOM JS -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/slide.js"></script>
  </body>
</html>
