<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap"
      rel="stylesheet"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('../components/navbar') %>

    <center>
      <form action="/Search/search/" method="GET">
          <input type="text" name="title" placeholder="Search...">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
    </form>
   </center>
   <br>
    <section class="allBlogs">
        <% posts.forEach(post => { %>
           
          <div> 
            <section><img height="100%" width="100%" src="/static/images/<%= post.image %>" alt="" /> </section>
            <h1><%= post.title %></h1>
            <h2>Author : <%= post.user.name %></h2>
            
            <i class="fa fa-thumbs-o-up"> <%= post.likes %></i>
            <center><a class="button" href="/posts/blog/single/<%= post.id %>">Readmore</a></center> 
          </div>
        <% }); %>
      </section> 

    <%- include('../components/footer') %>

    <!-- CUSTOM JS -->
    <script src="/static/js/main.js"></script>
  </body>
</html>